label {
    margin: 0;
	margin-top: 20px;
	float: left;
	width: -200em;
	margin-left: -10em;
	font-weight: 1000;
	font-size: 100px;
	font-family: Palanquin;
}
amount-label {
	font-family: Palanquin;
}
data-shrink {
	font-family: "Courier New", Courier, monospace;
}
